In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv("data/tmdb_5000_movies.csv")

In [4]:
df.genres

0       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1       [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3       [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
                              ...
4798    [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4799    [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4800    [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4801                                                   []
4802                  [{"id": 99, "name": "Documentary"}]
Name: genres, Length: 4803, dtype: object

In [ ]:
import ast

df["genre_names"] = df["genres"].apply(
    lambda x: [d["name"] for d in ast.literal_eval(x)] if x != "[]" else []
)

df["genre_names"]

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4798                        [Action, Crime, Thriller]
4799                                [Comedy, Romance]
4800               [Comedy, Drama, Romance, TV Movie]
4801                                               []
4802                                    [Documentary]
Name: genre_names, Length: 4803, dtype: object

In [11]:
print(df['genre_names'].apply(lambda x: " ".join(x).lower())*4)

0       action adventure fantasy science fictionaction...
1       adventure fantasy actionadventure fantasy acti...
2       action adventure crimeaction adventure crimeac...
3       action crime drama thrilleraction crime drama ...
4       action adventure science fictionaction adventu...
                              ...
4798    action crime thrilleraction crime thrilleracti...
4799    comedy romancecomedy romancecomedy romancecome...
4800    comedy drama romance tv moviecomedy drama roma...
4801
4802         documentarydocumentarydocumentarydocumentary
Name: genre_names, Length: 4803, dtype: object

In [15]:
df['genre_names'] == "action"

0       False
1       False
2       False
3       False
4       False
        ...
4798    False
4799    False
4800    False
4801    False
4802    False
Name: genre_names, Length: 4803, dtype: bool

In [12]:
def extract_genre_names(x):
    try:
        genres = ast.literal_eval(x)  # convert string to list of dicts
        if isinstance(genres, list):
            return ", ".join(sorted(set(d["name"].strip().lower() for d in genres if "name" in d)))
        else:
            return ""
    except Exception:
        return ""

df["genre_names"] = df["genres"].apply(extract_genre_names)

In [22]:
df[df["genre_names"].str.contains("romance", case=False, na=False)]["title"]

25                                  Titanic
49                         The Great Gatsby
50      Prince of Persia: The Sands of Time
81                               Maleficent
83                               The Lovers
                       ...
4781                              Dry Spell
4784                        The Puffy Chair
4786                       Breaking Upwards
4799                              Newlyweds
4800              Signed, Sealed, Delivered
Name: title, Length: 894, dtype: object